# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working

RewriteEngine on
# RewriteBase /

Options +FollowSymlinks
Options -Indexes

php_flag display_errors off

RewriteRule ^helper/?$ index.php?action=helper [NC,L]
RewriteRule ^helper/stop/?$ index.php?action=helper&stop=true [NC,L]
RewriteRule ^probabilite/?$ index.php?action=proba [NC,L]
RewriteRule ^demon/?$ index.php?action=demon [NC,L]
RewriteRule ^gestion/?$ index.php?action=gestion [NC,L]
RewriteRule ^deconnexion/?$ index.php?action=deconnexion [NC,L]
RewriteRule ^dino/([[:digit:]]+)$ index.php?action=dino&dino=$1 [NC]
RewriteRule ^info/([[:alpha:]]+)/([[:digit:]]+)$ index.php?action=info&element=$1&competence=$2 [NC]

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

ExpiresActive On
# Default directive
ExpiresDefault "access plus 1 month"
# My favicon
ExpiresByType image/x-icon "access plus 1 year"
# Images
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
# CSS
ExpiresByType text/css "access plus 1 month"
# Javascript
ExpiresByType application/javascript "access plus 1 year"
