/* NOUVELLES TABLES */
/* Box iframe (affichage des competences)*/

iframe#fenêtre {
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* table des competences */

table {
    border-spacing: 1px;
    padding-top: 20%;
    margin-left: 0;
    width: 60%;
    background-color: transparent;
}

/* Header des cases */

table thead td
{
    color:#82492b;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    text-indent:0;
    text-shadow : rgba(255, 255, 255, 0.5) 1px 0 3px, rgba(255, 255, 255, 0.5) 1px 1px 3px, rgba(255, 255, 255, 0.5) 1px -1px 3px, rgba(255, 255, 255, 0.5) -1px 1px 3px, rgba(255, 255, 255, 0.5) -1px 0px 3px, rgba(255, 255, 255, 0.5) -1px -1px 3px, rgba(255, 255, 255, 0.5) 0px 1px 3px, rgba(255, 255, 255, 0.5) 0px -1px 3px;
    border: 2px solid #823b16;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Dans les cases */

table td:not(.head)
{
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color:#82492b;
    padding: 0.5%;
    /*text-shadow: #ebc289 1px 0px 3px, #ebc289 1px 1px 3px, #ebc289 1px -1px 3px, #ebc289 -1px 1px 3px, #ebc289 -1px 0px 3px, #ebc289 -1px -1px 3px, #ebc289 0px 1px 3px, #ebc289 0px -1px 3px;*/
    text-shadow : rgba(255, 255, 255, 0.2) 1px 0px 3px, rgba(255, 255, 255, 0.3) 1px 1px 3px, rgba(255, 255, 255, 0.3) 1px -1px 3px, rgba(255, 255, 255, 0.3) -1px 1px 3px, rgba(255, 255, 255, 0.3) -1px 0px 3px, rgba(255, 255, 255, 0.3) -1px -1px 3px, rgba(255, 255, 255, 0.3) 0px 1px 3px, rgba(255, 255, 255, 0.3) 0px -1px 3px;
    text-align:left;
    text-indent:2%;
    background-repeat:no-repeat;
    background-position:bottom;
}

/* Page démon */

#demon_levels td , #demon_levels th  {
    text-align: center;
}


#demon_levels td:last-child {
    text-align: left;
}

input[type=text] {
    border: 0 solid #ccc;
    border-radius: 16px;
    text-align: center;
    color: #ffc90e;
    background-color: #9c4129;
}